@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p><a href="/api/Reservation" target="_blank">Check Reservations JSON</a></p>
	<p><a href="/api/Reservation/1" target="_blank">Check First Reservations</a></p>
	<h2>Check the Web API tutorials links:</h2>
	<ul style="list-style:none">
		<li>1. <a target="_blank" href="https://www.yogihosting.com/aspnet-core-api-controllers/">How to Create Web APIs in ASP.NET Core [RESTful pattern]</a></li>
		<li>2. <a target="_blank" href="https://www.yogihosting.com/aspnet-core-consume-api/" rel="noopener noreferrer">How to Call Web API in ASP.NET Core [with Codes]</a></li>
		<li>3. <a target="_blank" href="https://www.yogihosting.com/aspnet-core-consume-api-jquery/" rel="noopener noreferrer">How to Call Web API from jQuery</a></li>
		<li>4. <a href="https://www.yogihosting.com/aspnet-core-web-api-javascript/" target="_blank" rel="noopener noreferrer">Call Web API from JavaScript with XMLHttpRequest (XHR)</a></li>
	</ul>
</div>
